@inherits LayoutComponentBase
<div class="page">
    <a href="#main-content" class="skip-link">Skip to main content</a>
    <div class="sidebar">
        <NavMenu />
    </div>

    <main id="main-content">
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
